body {
    margin: 0%;
	font-family: serif;
	background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/2231_generated.jpg);
}

header{
    background-color: #34495e;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

header.hidden {
    transform: translateY(-100%);
}

header p{
    margin: 0%;
    font-size: 25px;
    color: white;
    position: absolute  ;
    height: 50px;
    width: 200px;
    line-height: 8vh;
    padding-left: 20px;
}

header p::first-letter{
    color: #1abc9c  ;
}

#Souliez{
    left: 6%;
}

.maj{
    color: #1abc9c;
}

nav{
	position: relative;
	top: 0;
    left: 50%;
	width: 730px;
	height: 8vh;
	background: #34495e;
	font-size: 0;
}

nav a{
	font-size: 17px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 8vh;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}

nav a::first-letter{
    color: #1abc9c;
}

nav .animation{
	position: absolute;
	height: 5px;
	bottom: 0;
	z-index: 0;
	background: #1abc9c;
	transition: all .5s ease 0s;
    border-radius: 8px;
}

nav a:nth-child(1){
	width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}

nav a:nth-child(2){
	width: 140px;
}

nav a:nth-child(2):hover~.animation{
	width: 120px;
	left: 110px;
}

nav a:nth-child(3){
	width: 140px;
}

nav a:nth-child(3):hover~.animation{
	width: 140px;
	left: 240px;
}

nav a:nth-child(4){
	width: 150px;
}

nav a:nth-child(4):hover~.animation{
	width: 130px;
	left: 390px;
}

nav a:nth-child(5){
	width: 100px;
}

nav a:nth-child(5):hover~.animation{
	width: 100px;
	left: 530px;
}

nav a:nth-child(6){
	width: 100px;
}

nav a:nth-child(6):hover~.animation{
	width: 100px;
	left: 630px;
}

.accueil{
    width: 100%;
    height: 100vh;
}

.accueil p{
    color: white;
    margin: 0%;
    text-align: center;
}

#titre{
    position: absolute;
    height: 170px;
    width: 780px;
    top: 170px;
    left: 50%;
    transform: translate(-50%);
    font-size: 70px;
    text-transform: uppercase;
    background-color: #34495e;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#desc{
    position: absolute;
    top: 400px;
    width: 600px;
    left: 50%;
    transform: translate(-50%);
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 10px;
}

.maj .lettre{   
    color: #1abc9c;    
}

#formation{
    height: 200vh;
    width: 100% ;
    background-color: #2c3e50;
    color: white;
}

#formation p{

}

#titre_formation{
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 15px;
    margin: 0;
    margin-top: 70px;
    font-size: 70px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
}

#titre_formation::first-letter{
    color: #1abc9c;
}

#point1{
    position: absolute;
    top: 149.5vh;
    left: 50%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
}

#point2{
    position: absolute;
    top: 152.5vh;
    left: 50%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
}

#point3{
    position: absolute;
    top: 156vh;
    left: 50%;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
}

#point6{
    position: absolute;
    top: 278.5vh;
    left: 50%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1abc9c;
}

#point5{
    position: absolute;
    top: 275vh;
    left: 50%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #1abc9c;
}

#point4{
    position: absolute;
    top: 271vh;
    left: 50%;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #1abc9c;
}

#BUT #point1{
    position: absolute;
    z-index: 1;
    top: 176vh;
    left: 36%;
    transform: translate(-50%);
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: white;
}

#BUT #point2{
    position: absolute;
    z-index: 1;
    top: 176vh;
    left: 14%;
    transform: translate(-50%);
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: white;
}

#ligne{
    margin: 0%;
    top: 160vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 110vh;
    width: 15px;
    background: linear-gradient(white, #1abc9c);
    border-radius: 10px;
}

#lignebut{
    position: absolute;
    z-index: 1;
    top: 176vh;
    left: 25%;
    transform: translate(-50%);
    height: 4px;
    width: 300px;
    background: linear-gradient(to right,white, #1abc9c, #1abc9c, white);
    border-radius: 10px;
}

#BUT #text{
    position: absolute;
    color: white;
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    font-size: 25px;
    text-align: center;
    top: 165vh;
    left: 25%;
    transform: translate(-50%);
    background-color: white;
    height: 250px;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
    padding: 10px;
}

#butinfo{
    margin-bottom: 35px;
}

#BUT #date{
    position: absolute;
    height: 100px;
    width: 250px;
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    border-radius: 10px;
    top: 178vh;
    left: 75%;
    transform: translate(-50%);
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#BUT #date p{
    margin: 0%;
}

#bac #text{
    position: absolute;
    color: white;
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    font-size: 25px;
    text-align: center;
    top: 230vh;
    left: 75%;
    transform: translate(-50%);
    background-color: white;
    height: 220px;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
    padding: 10px;
}

#bacinfo{
    margin-bottom: 35px;
}

#lignebac{
    position: absolute;
    z-index: 1;
    top: 241vh;
    left: 75%;
    transform: translate(-50%);
    height: 4px;
    width: 300px;
    background: linear-gradient(to right,white, #1abc9c, #1abc9c, white);
    border-radius: 10px;
}

#bac #point1{
    position: absolute;
    z-index: 1;
    top: 241vh;
    left: 86%;
    transform: translate(-50%);
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: white;
}

#bac #point2{
    position: absolute;
    z-index: 1;
    top: 241vh;
    left: 64%;
    transform: translate(-50%);
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: white;
}

#bac #date{
    position: absolute;
    height: 100px;
    width: 250px;
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    border-radius: 10px;
    top: 241vh;
    left: 25%;
    transform: translate(-50%);
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#bac #date p{
    margin: 0%;
}

#competences{
    height: 120vh;
    width: 100% ;
    background-color: #2c3e50;
    color: white;
}

#titre_competences{
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 15px;
    margin: 0;
    margin-top: 70px;
    font-size: 70px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
}

#titre_competences::first-letter{
    color: #1abc9c;
}

#sep1 #ligne{
    position: absolute;
    z-index: 1;
    top: 300vh;
    left: 50%;
    transform: translate(-50%);
    height: 3px;
    width: 1200px;
    background: linear-gradient(to right,white, #1abc9c, #1abc9c, white);
    border-radius: 10px;
}

#sep1 #point1{
    position: absolute;
    top: 300vh;
    left: 9%;
    transform: translate(-50%);
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: white;
}

#sep1 #point2{
    position: absolute;
    top: 300vh;
    left: 91%;
    transform: translate(-50%);
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: white;
}

#comp_tec{
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    position: absolute;
    left: 25%;
    transform: translate(-50%);
    top: 335vh;
    padding: 15px;
    margin: 0;
    margin-top: 70px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#comp_gen{
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    position: absolute;
    left: 75%;
    transform: translate(-50%);
    top: 335vh;
    padding: 15px;
    margin: 0;
    margin-top: 70px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#td{
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    position: absolute;
    left: 67%;
    transform: translate(-50%);
    top: 360vh;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#com{
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    position: absolute;
    left: 82%;
    transform: translate(-50%);
    top: 362vh;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#crea{
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    position: absolute;
    left: 73%;
    transform: translate(-50%);
    top: 370vh;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#auto{
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    position: absolute;
    left: 67%;
    transform: translate(-50%);
    top: 379vh;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#moti{
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    position: absolute;
    left: 81%;
    transform: translate(-50%);
    top: 374vh;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#pointtd{
    position: absolute;
    top: 364vh;
    left: 75%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1abc9c;
}

#pointcrea{
    position: absolute;
    top: 372.5vh;
    left: 68%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1abc9c;
}

#pointauto{
    position: absolute;
    top: 382vh;
    left: 73%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #1abc9c;
}

#competences #point1{
    position: absolute;
    top: 368vh;
    left: 35%;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #1abc9c;
}

#competences #point2{
    position: absolute;
    top: 366vh;
    left: 35%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1abc9c;
}


#competences #point3{
    position: absolute;
    top: 367vh;
    left: 36%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1abc9c;
}

#competences #point4{
    position: absolute;
    top: 367vh;
    left: 34%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1abc9c;
}

#competences #point5{
    position: absolute;
    top: 387vh;
    left: 15%;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #1abc9c;
}

#competences #point6{
    position: absolute;
    top: 390.5vh;
    left: 15%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1abc9c;
}


#competences #point7{
    position: absolute;
    top: 389.5vh;
    left: 14%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1abc9c;
}

#competences #point8{
    position: absolute;
    top: 389.5vh;
    left: 16%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1abc9c;
}


.slider-1 {
    position: absolute;
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    border-radius: 10px;
    top: 345vh;
    left: 17%;
    transform: translate(-50%);
    max-width: 300px;
    margin: 100px auto;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
  }

  .slider-2 {
    position: absolute;
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    border-radius: 10px;
    top: 365vh;
    left: 33%;
    transform: translate(-50%);
    max-width: 300px;
    margin: 100px auto;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
  }

  .slider-1 img {
    flex-shrink: 0;
    margin: 10px 99px;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .slider-2 img {
    flex-shrink: 0;
    margin: 10px 100px;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .slider-1 .slider {
    animation: slider-1 12s infinite ease-in-out;
    display: flex;
  }

  .slider-2 .slider {
    animation: slider-1 12s infinite ease-in-out;
    display: flex;
  }

  .slider-1 p {
    flex-shrink: 0;
    padding: 72px 0;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: #f1f1f1;
  } 

  .slider-2 p {
    flex-shrink: 0;
    padding: 72px 0;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: #f1f1f1;
  } 

  @keyframes slider-1 {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  }

  @keyframes slider-2 {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  }

#realisation{
    height: 200vh;
    width: 100% ;
    background-color: #2c3e50;
}

#sep2 #ligne{
    position: absolute;
    z-index: 1;
    top: 420vh;
    left: 50%;
    transform: translate(-50%);
    height: 3px;
    width: 1200px;
    background: linear-gradient(to right,white, #1abc9c, #1abc9c, white);
    border-radius: 10px;
}

#sep2 #point1{
    position: absolute;
    top: 420vh;
    left: 9%;
    transform: translate(-50%);
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: white;
}

#sep2 #point2{
    position: absolute;
    top: 420vh;
    left: 91%;
    transform: translate(-50%);
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: white;
}

#titre_real{
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 15px;
    margin: 0;
    margin-top: 70px;
    font-size: 70px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
    color: white;
}

#titre_real::first-letter{
    color: #1abc9c;
}

#monstre #text{
    position: absolute;
    color: white;
    background: linear-gradient(to right,hsl(210, 29%, 24%, 0.9),hsl(210, 29%, 24%, 0.9)), url(../img/fond_titre.png);
    font-size: 20px;
    text-align: center;
    top: 470vh;
    left: 25%;
    transform: translate(-50%);
    background-color: white;
    height: 220px;
    width: 600px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
    padding: 10px;
}

#monstre>#ligne{
    position: absolute;
    z-index: 1;
    top: 483vh;
    left: 25%;
    transform: translate(-50%);
    height: 4px;
    width: 450px;
    background: linear-gradient(to right,white, #1abc9c, #1abc9c, white);
    border-radius: 10px;
}

#monstre>#point1{
    position: absolute;
    z-index: 1;
    top: 483vh;
    left: 8%;
    transform: translate(-50%);
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: white;
}

#monstre>#point2{
    position: absolute;
    z-index: 1;
    top: 483vh;
    left: 42%;
    transform: translate(-50%);
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: white;
}

#titre_projet{
    margin-bottom: 35px;
    font-size: 30px;
}

#monstre img{
    margin: 10px 10px;
    width: 40%;
}

#loisirs{
    height: 200vh;
    width: 100% ;
    background-color: #2c3e50;
}

#contact{
    height: 200vh;
    width: 100% ;
    background-color: #2c3e50;
}




